.root {
  --border: 0px;
  --height: 30px;
  --bor-color: #000000;
  --theme-color: #041527;
  border-radius: 10px;
  overflow: hidden;
  border: var(--border) solid var(--bor-color);

  :global {
    .header {
      display: flex;
      user-select: none;
      width: 100%;
      height: var(--height);
      background: var(--theme-color);
      justify-content: space-between;
      border-bottom: var(--border) solid var(--bor-color);
    }
    .controls {
      display: flex;
      width: 200px;
      height: 100%;
      justify-content: start;
      align-items: center;
      margin-left: 8px;
      .items {
        display: flex;
        height: 100%;
        justify-content: start;
        align-items: center;
        --opacity: 0;
        svg {
          opacity: var(--opacity);
        }
        &:hover {
          --opacity: 1;
        }
        .item {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          margin-right: 8px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 8px;
        }
        .clear {
          background: linear-gradient(#ed675a, #ed695e, #ec6b60);
        }
        .minification {
          background: linear-gradient(#f5c350, #f4bf4e, #f6c351);
        }
        .blow—up {
          background: linear-gradient(#63ca55, #62c454, #63ca56);
        }
      }
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      font-weight: bold;
      color: #fff;
    }
    .context {
      background-color: #fff;
      height: calc(100vh - var(--height) - calc(3 * var(--border)));
    }
  }
}
