.root {
  border-radius: 10px;
  overflow: hidden;
  :global {
    .header {
      display: flex;
      user-select: none;
      width: 100%;
      height: 30px;
      background: #ffffff;
      justify-content: space-between;
    }
    .controls {
      display: flex;
      width: 200px;
      height: 100%;
      justify-content: start;
      align-items: center;
      margin-left: 8px;
      .items {
        display: flex;
        height: 100%;
        justify-content: start;
        align-items: center;
        --opacity: 0;
        svg {
          opacity: var(--opacity);
        }
        &:hover {
          --opacity: 1;
        }
        .item {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          margin-right: 8px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 8px;
        }
        .clear {
          background: linear-gradient(#ed675a, #ed695e, #ec6b60);
        }
        .minification {
          background: linear-gradient(#f5c350, #f4bf4e, #f6c351);
        }
        .blow—up {
          background: linear-gradient(#63ca55, #62c454, #63ca56);
        }
      }
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      font-weight: bold;
    }
    .context {
      background-color: #fff;
      height: calc(100vh - 30px);
    }
  }
}
